<footer>


    <div class="col-6" id="compañia">

    <img src="/public/assets/logo.png" alt="find.me logo" width="59" height="34" id= "logo-f">

    <h6>
        ©Maravillas Tec 2026
    </h6>

    </div>


    <div class="col-6" id="video-info">

    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" >
        <img src="/public/assets/youtube.png" alt="play button" width="28" id="youtube-btn">
    </a>

    <h6 id="aprende">
        ¡Aprende como funciona!
    </h6>

    </div>


</footer>