<header>

    <a href="/">
    <img src="/public/assets/logo.png" alt="find.me logo" width="59" height="34" id="logo-h"> 
    </a>

    <a href="/escaner_ui" id="camara-h">
    <img src="/public/assets/Camera.png" alt="camera section" width="28" height="28" >
    </a>
    
//ctr+c para stop running

</header>