<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles/styles.css"> 
    <title>FindMe - Home</title>
</head>
<body class="d-flex flex-column">
    <%- include('components/header'); %>
    <main class="overflow-y-auto flex-grow-1 d-flex flex-column">
        <section class="flex-grow-1">
            <br><br><br>
            <h1 class="txt-glow text-center">Bienvenido a <br> FindMe!</h1>
            <br><br><br><br><br><br>
            <h1 class="txt-glow text-center">Que quieres encontrar?</h1>
            <br>
            <div class="d-flex flex-row justify-content-center">
                <a href="/scanner" class="text-center">
                    <img src="/public/assets/camara-btn.png" alt="">
                </a>
            </div>
        </section>
        <%- include('components/footer'); %>
    </main>

    <script src="/public/libraries/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>