<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles/styles.css"> 
    <title>FindMe - Trivia</title>
</head>
<body>
    <%- include('components/header'); %>
    <main class="overflow-y-auto flex-grow-1 d-flex flex-column">
        <section class="flex-grow-1">

        </section>
        <%- include('components/footer'); %>
    </main>
</body>
</html>