<footer class="p-3 brd-color-0 brd-clr-bottom brd-clr-right brd-clr-left d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex flex-column align-items-start">
        <img src="/public/assets/logo.png" alt="find.me logo" width="59" height="34" id= "logo-f">
        <h6 >©Maravillas Tec 2026</h6>
    </div>
    <div class="d-flex flex-column align-items-end">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" >
            <img src="/public/assets/youtube.png" alt="play button" width="28" id="youtube-btn">
        </a>
        <h6 class="text-end">¡Aprende como<br>funciona la pagina!</h6>
    </div>
</footer>