<footer
    class="p-3 brd-color-0 brd-clr-bottom brd-clr-right brd-clr-left d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex flex-column align-items-start">
        <img src="/public/assets/logo.png" alt="find.me logo" width="59" height="34" id="logo-f">
        <h6>©Maravillas Tec 2026</h6>
    </div>

    <div class="d-flex flex-column align-items-end">
        <div class="d-flex flex-row gap-2 mb-1">
            <a href="/public/assets/manual.pdf" download="Manual_Usuario_FindMe.pdf">
                <img src="/public/assets/Guia.png" width="">
            </a>

            <a href="https://youtu.be/dUghesXEY_o" target="_blank">
                <img src="/public/assets/Youtube.png" width="28">
            </a>
        </div>

        <h6 class="text-end">¡Aprende cómo<br>funciona la página!</h6>
    </div>
</footer>