<header class="position-sticky right-0 top-0 left-0 bg-color-0 px-4 py-3 brd-color-0 brd-clr-right brd-clr-left brd-clr-top d-flex flex-row justify-content-between pe-auto">
    <a href="/">
        <img src="/public/assets/logo.png" alt="find.me logo" width="59" height="34" id="logo-h"> 
    </a>

    <a href="/scanner">
        <img src="/public/assets/Camera.png" alt="camera section" width="28" height="28" >
    </a>
</header>