
*{
    padding: 0%;
    margin: 0%;
}


.body-main{
    background-color: #121920;
}


header{
height: 50px;
background-color: rgba(6, 33, 43, 0.38);
border-bottom: 1px solid #FFFBFF;
box-shadow: 0px 4px 4px rgba(255, 255, 251, 0.25);
display: flex;
justify-content: center;
align-items: center;
gap: 60%;

}

footer{
    display: flex;
    height: 104px;
    background-image: url('/public/assets/footer.png');
    border-top: 1px solid #FFFBFF;
    box-shadow: 0px -4px 4px rgba(255, 255, 251, 0.25);
}


#logo-f{
    height: auto;
    margin-bottom: 10px;
}

 #compañia{
    margin-top: 6%;
    margin-left: 7%;
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3px;
    color: #11AA9C;
    }

#video-info{
    align-items: center;
    text-align: center;
    width: 35%;
    margin-top: 4%;
}

#youtube-btn{
  width: 40px;
}

#aprende{
    margin-top: 2%;
    color: #FFFBFF;
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#pregunta-main{
margin-top: 10%;
font-family: "Funnel Display", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
color: #FFFBFF;
    text-shadow:
        0 0 5px rgba(120, 255, 200, 0.6),
        0 0 15px rgba(120, 255, 200, 0.4),
        0 0 30px rgba(120, 255, 200, 0.3);
}

