:root {

}

.mindar-ui-overlay { pointer-events: none; }
.mindar-ui-overlay.hidden { display: none !important; }

#secVideos, #secAgenda, #secInfo { z-index: 2000; }
/* header.position-sticky { z-index: 2001; }

/* Cosas Generales */
*, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;

    color: white;
}

body {
    background-color: #121920;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    
    overflow-x: hidden;
}

/* Fondos */
.bg-color-0 { background-color: #121920a4; }
.bg-color-1 { background-color: #101418;}
.bg-color-2 { background-color: #82ED9BBD;}
.bg-solid { background-color: #121920; }

/* Bordes */
.brd-color-0 { 
    border: 2px solid #FFFBFF; 
    box-shadow: 0px 0px 22px 2px #78ffc899;
}
.brd-color-1 { 
    border: 2px solid #FFFBFF; 
}

.brd-clr-bottom { border-bottom: 0px; }
.brd-clr-right { border-right: 0px; }
.brd-clr-left { border-left: 0px; }
.brd-clr-top { border-top: 0px; }

.brd-rd-0 { border-radius: 0.5rem; }
.brd-rd-1 { border-radius: 1rem; }
.brd-rd-f { border-radius: 100%; }

/* Textos */
.txt-glow { text-shadow: 0 0 5px rgba(120, 255, 200, 0.6), 0 0 15px rgba(120, 255, 200, 0.4), 0 0 30px rgba(120, 255, 200, 0.3); }

.txt-black { color: black; }

/* Transiciones */
.transition { transition: all 0.5s; }
.hidden { transform: translateY(120dvh); }

/* Carrusel */
#videoScroller {
    scroll-snap-type: x mandatory;
    gap: 40px;
    padding: 0 30%;

    -ms-overflow-style: none;  
    scrollbar-width: none;
}
#videoScroller::-webkit-scrollbar { display: none; }

.video-item {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex-shrink: 0;
}

/* Color de fondo para tus botones de respuesta */
.bg-color-2, .ans-btn {
    background-color: #5EC686 !important; /* El color verde de tu imagen */
}

/* --- Agenda Estilos --- */
.agenda-item {
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    min-height: 130px;
}

/* Fondos de los Estadios (Ajusta la extension a .png si es necesario) */
.bg-Azteca { background-image: url('/public/assets/Stadiums/Azteca.jpg'); }
.bg-Akron { background-image: url('/public/assets/Stadiums/Akron.jpg'); }
.bg-BBVA { background-image: url('/public/assets/Stadiums/BBVA.jpg'); }

/* Efecto de desvanecimiento de izquierda a derecha sobre el estadio */
.agenda-overlay {
    background: linear-gradient(to right, transparent 15%, rgba(18, 25, 32, 0.85) 60%, #121920 100%);
}

.agenda-flag {
    width: 35px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.fs-7 { font-size: 0.75rem; }
.fs-8 { font-size: 0.65rem; }